@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="max-width: 400px; width: 100%; border-radius: 10px;">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post">
                <h2 class="h5 text-center mb-4">Use a local account to log in.</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="name@example.com" aria-required="true" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="password" aria-required="true" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                
                <div class="form-check mb-3">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    <label class="form-check-label" asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                </div>
                
                <button type="submit" class="btn btn-primary w-100 mb-3">Log in</button>
                
                <div class="text-center">
                    <p class="mb-1"><a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></p>
                    <p class="mb-1"><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></p>
                    <p><a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a></p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
