@model CommentViewModel

<h1> list with comments(@Model.CurrentViewName View)</h1>

<!-- Uses _CommentTable under Shared to show comments -->
<partial name = "_CommentTableNote" model = "Model.Comments" />